.body{
    width: 1400px;
    margin: 0;
    padding: 0;
}
.menu-header{
    text-align: center;
    padding: 32px 0;

}
.menu-header_link{
    color: black;
    font-size: 18px;
    text-decoration: none;
    padding-left: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: Inter;
}
.img{
    width: 100%;
}
.title{
    font-size: 48px;
    text-align: center;
    margin-top: 88px;
}
.container{
    display: inline-block;
    width: 856px;
    margin-left: 222px;
    padding: 40px 0 40px 0;

}
.container title footer {
    color: #161616;
    font-family: Inter;
    font-weight: 400;
}

.content-first{
    font-size: 21px;
    padding-left: 20px;
    padding-right: 20px;
}
span{
    color: #04959E;
    font-family: Inter;
    font-size: 21px;
}
.content-second{
    font-size: 18px;
}
.btn{
    
 display: block;
 margin: 0 auto;
    background: #04959E;
    color: white;
    padding: 10px 24px;
    margin-top: 10px;
   
}

.footer{
    font-size: 18px;
    text-align: center;
    margin-top: 88px;
    font-family: Inter;
}